<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Payroll</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alkalami&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Features-Large-Icons-icons.css">
    <link rel="stylesheet" href="/assets/css/formmmm.css">
    <link rel="stylesheet" href="/assets/css/infoemp.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Cool-SB-Admin-Inspirate.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="/assets/css/SIdebar-Responsive-2-ResponsiveSideBar-2.css">
    <link rel="stylesheet" href="/assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="/assets/css/Toggle-Buttons.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xxl-5 offset-xxl-0"><img src="/assets/img/watercolor-4116932__340.webp" width="521" height="791"></div>
            <div class="col-md-6 col-xxl-5 offset-xxl-1">
                <div class="card mb-5">
                    <div class="card-body p-sm-5" style="--bs-body-bg: #fff;background: rgba(81,138,202,0.2);">
                        <h2 class="text-center mb-4"><img src="/assets/img/Screenshot__128_23.png" width="154" height="199" style="text-align: center;"></h2>
                        <form method="post">
                            <div class="mb-3"><input class="form-control form-control-lg" type="text" value="Email" style="font-size: 22px;font-family: Bangers, serif;"><input class="form-control" type="email" id="email-2" name="email" style="font-size: 22px;margin-top: 5px;"></div>
                            <div class="mb-3"><input class="form-control" type="text" id="name-2" placeholder="Name" style="font-size: 22px;font-family: Bangers, serif;" value="Password"><input class="form-control" type="password" style="font-size: 22px;margin-top: 5px;"></div>
                            <div class="mb-3"><button class="btn btn-primary border rounded-pill border-3 d-block w-100" type="submit" style="font-size: 22px;font-family: Bangers, serif;background: #26206f;">Login</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/Sidebar-Menu-sidebar.js"></script>
</body>

</html>