<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Payroll</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alkalami&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/aos.min.css">
    <link rel="stylesheet" href="/assets/css/Features-Large-Icons-icons.css">
    <link rel="stylesheet" href="/assets/css/formmmm.css">
    <link rel="stylesheet" href="/assets/css/infoemp.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Cool-SB-Admin-Inspirate.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="/assets/css/SIdebar-Responsive-2-ResponsiveSideBar-2.css">
    <link rel="stylesheet" href="/assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="/assets/css/Toggle-Buttons.css">
</head>

<body>
<div th:replace="fragment2.html::SlideBar2"></div>
    <div id="wrapper">

        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-xxl-12" style="background: #231b5c;">
                        <div></div>
                        <h1 data-aos="fade-right" data-aos-delay="250" style="text-align: right;font-family: Alkalami, serif;color: rgb(35,27,92);background: #231b5c;"><span style="color: rgb(255, 255, 255);">Profile&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><img class="border rounded-0" src="/assets/img/Screenshot__128_23.png" width="127" height="122" style="background: #ffffff;"></h1>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <form method="post" ACTION="/emp/profileEmp/save/" th:object="${Employee}">
                <input type="hidden" id="id" name="id" th:value="${emp.id}">
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <div class="container-fluid">
                        <h3 class="text-dark mb-4">Profile</h3>
                        <div class="row mb-3" style="padding-left: 30px;">
                            <div class="col-lg-4 col-xxl-11" style="text-align: center;">
                                <div class="card shadow mb-3" style="box-shadow: 0px 0px;">
                                    <div style="padding-left: 12px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle border rounded-circle shadow-lg" style="font-size: 153px;text-align: center;color: var(--bs-link-hover-color);">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                                        </svg></div>
                                </div>
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">User Settings</p>
                                    </div>
                                    <div class="card-body">

                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" id="first_name" placeholder="" name="first name" th:value="${emp.name}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name" th:value="${emp.lname}"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="email" th:value="${emp.email}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" ><strong>D.O.B</strong></label><input class="form-control" type="date" th:value="${emp.date}"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3"></div>

                                    </div>
                                </div>
                                <div class="card shadow">
                                    <div class="card-body">

                                            <div class="mb-3"><label class="form-label" for="address"><strong>Address</strong></label><input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address" th:value="${emp.address}"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="city"><strong>City</strong></label><input class="form-control" type="text" id="city" placeholder="Los Angeles" name="city" th:value="${emp.city}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="country"><strong>Country</strong></label><input class="form-control" type="text" id="country" placeholder="USA" name="country" th:value="${emp.country}"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3"><button class="btn btn-primary" type="submit">Save</button></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright"></div>
                    </div>
                 </footer>
               </div>
            </form>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/Sidebar-Menu-sidebar.js"></script>
</body>

</html>